@using LOGA.WebUI.Models
@{
    ViewBag.Title = "სასარგებლო მასალა";
    ViewBag.PageHead = ViewBag.Title;
    ViewBag.PageHeadSmall = "ამოსაბეჭდად";
}

<div>
    @{
        var pdfs = new Dictionary<string, string>()
        {
            { "anbani.pdf", "ქართული ანბანი ამოსაბეჭდი (სრული)" },
            { "anbani1.pdf", "ქართული ანბანი ამოსაბეჭდი (პირველი გვერდი)" },
            { "anbani2.pdf", "ქართული ანბანი ამოსაბეჭდი (მეორე გვერდი)" },
            { "qaragmebi.pdf", "ქარაგმების გახსნა" },
            { "locvebi.pdf", "დილისა და ძილად მისვლის ლოცვები (ხუცურად)" },
            { "anbani-targmanit.pdf", "რუსულ-ქართული და ბერძნულ-ქართული შესატყვისი ანბანში" },
        };
    }

    <table class="table table-hover auto-width">
        <tr>
            <th colspan="2" style="border: none">ჩამოტვირთეთ</th>
        </tr>
        @foreach (var item in pdfs)
        {
            <tr>
                <td>
                    <a href="~/Download/@item.Key">
                        <img class="visible-lg" src="~/Content/img/Adobe_PDF_file_icon_32x32.png" />
                        <img class="hidden-lg" src="~/Content/img/Adobe_PDF_file_icon_24x24.png" />
                    </a>
                </td>
                <td>
                    <a href="~/Download/@item.Key">@item.Value</a>
                </td>
            </tr>
        }
        <tfoot>
            <tr>
                <th colspan="2">
                    <span class="text-muted small">
                        <a class="text-muted" href="http://martlmadidebloba.ge/ganmarteba19.html" target="_blank">აღებულია საიტიდან martlmadidebloba.ge</a>
                    </span>
                </th>
            </tr>
        </tfoot>
    </table>
</div>

<div>
    @{
        const int LINK_ID = 0;
        const int TEXT_ID = 1;
        const int DESC_ID = 2;
        var links = new string[,]
        {
            { "https://ka.wikipedia.org/wiki/ქართული_დამწერლობა", "ქართული დამწერლობა", "(სტატია ვიკიპედიაში)" },
            { "https://ka.wikipedia.org/wiki/მხედრული", "მხედრული", "(სტატია ვიკიპედიაში)" },
            { "http://www.ambioni.ge/qartuli-damwerloba", "ქართული დამწერლობა", "(სტატია \"ამბიონზე\")" },
            { "http://www.fluentin3months.com/phonetic-script-can-be-learned-quickly/", "როგორ ვისწავლოთ ანბანი სწრაფად", "(საინტერესო ინგლისური სტატია. იქნემ ვინმემ შეძლოს გადათარგმნოს ქართულად?)" },
            //{ "http://www.memrise.com/home/", "" },
        };
    }

    <table class="table table-hover auto-width">
        <tr>
            <th colspan="2" style="border: none">სასარგებლო ბმულები</th>
        </tr>
        @* foreach (var item in links) *@
        @for (int i = links.GetLowerBound(0); i <= links.GetUpperBound(0); i++)
        {
            <tr>
                <td>
                    <a href="@links[i, LINK_ID]">
                        <img class="visible-lg" src="~/Content/img/browser-web-icon-32.png" />
                        <img class="hidden-lg" src="~/Content/img/browser-web-icon-24.png" />
                    </a>
                </td>
                <td>
                    <a href="@links[i, LINK_ID]" target="_blank" title="@links[i, TEXT_ID]">@links[i, TEXT_ID]</a>
                    <span>@links[i, DESC_ID]</span>
                </td>
            </tr>
        }
        <tfoot>
            <tr><td><!-- to draw a horizontal line above --></td></tr>
        </tfoot>
    </table>
</div>


<div class="row">
    <div class="col-md-2">
        <a href="https://get.adobe.com/reader/">
            <img src="~/Content/img/Get_Adobe_Acrobat_Reader_DC_web_button_158x39.fw.png" />
        </a>
    </div>
    <div class="col-md-4">
        <span class="text-muted small">"pdf" ფორმატის ფაილების სანახავად საჭიროა გქონდეთ Adobe Acrobat Reader ან მსგავსი პროგრამა</span>
    </div>
</div>



