@model BeboenaWebApp.Models.UserSettings

@* To persist all settings fields  *@
@Html.HiddenFor(m => m.SavedLearnProgressLId)

<script>
    function clearForm() {
        $("#tbDisplayName").val('');
        $("#cbLearnAsomtavruli").prop('checked', false);
    }
</script>

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4>პარამეტრები</h4>
        </div>
        <div class="modal-body">

            <div class="form-group">
                <strong>დამწერლობის არჩევა</strong>
                <div class="radio">
                    <label>
                        @Html.RadioButtonFor(m => m.WritingCapitalization, Writing.Mixed)
                        @*<input type="radio" name="radioLearnAsomtavruli" id="radioWritingOptions2" value="opt2" />*@
                        შერეული (წინადადების პირველი ასო ასომთავრული)
                    </label>
                </div>
                <div class="radio">
                    <label>
                        @Html.RadioButtonFor(m => m.WritingCapitalization, Writing.OnlyNuskhuri)
                        @*<input type="radio" name="radioWritingOptions" id="radioWritingOptions1" value="opt1" checked />*@
                        ნუსხური (მხოლოდ პატარა ასოები)
                    </label>
                </div>
                <div class="radio">
                    <label>
                        @Html.RadioButtonFor(m => m.WritingCapitalization, Writing.OnlyAsomtavruli)
                        @*<input type="radio" name="radioLearnAsomtavruli" id="radioWritingOptions3" value="opt3" />*@
                        ასომთავრული (მხოლოდ დიდი ასოები)
                    </label>
                </div>
            </div>

            <div class="form-group">
                <strong>პროგრესის დამახსოვრება</strong>
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.SaveLearnProgress, new { id = "cbSaveLearnProgress" })
                        შემდეგ შემოსვლაზე გავაგრძელოთ ბოლო ნასწავლი ასოდან
                    </label>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <p class="text-left help-block">
                <small>
                    მითითებული პარამეტრები იქნება დამახსოვრებული თქვენს კომპიუტერში cookie-ში
                </small>
            </p>
            <span class="load" style="display: none; padding-right: 10px" id="lblSaveInProgress">გთხოვთ დაელოდოთ...</span>
            <button type="submit" class="btn btn-primary" id="btnSaveUserSettings" value="Save">დამახსოვრება</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">დახურვა</button>
        </div>
    </div>
</div>
