@model LOGA.WebUI.Models.GeorgianLetter

<table class="table text-center table-bordered auto-width">
    <colgroup>
        <col style="width: 25%; background-color: lightgray" />
        <col style="width: 25%" />
        <col style="width: 25%" />
        <col style="width: 25%" />
    </colgroup>
    <tr>
        <td><strong>ასო</strong></td>
        <td colspan="2">ასომთავრული / ნუსხური</td>
        <td>რიცხვითი მნიშვნელობა</td>
    </tr>
    <tr class="@ViewData["size"]">
        <td class="geo-font">@(String.IsNullOrEmpty(Model.ReadAs) ? Model.Mkhedruli : $"{Model.Mkhedruli} ({Model.ReadAs})")</td>
        <td>
            <span class="geo-font-bechduri">
                @Model.Asomtavruli
            </span>
        </td>
        <td>
            <span class="geo-font-bechduri">
                @Model.Nuskhuri
            </span>
        </td>
        <td>@Model.NumberEquivalent</td>
    </tr>
</table>
