@model Dictionary<char, LOGA.WebUI.Models.GeorgianLetter>

@{
    ViewBag.Title = "ქართული ანბანი";
}

<pre>
<strong>TODO:</strong>
* Collapsing menu
* Width of translation input for long text
** Move results on top, when narrow page
* How to learn words in asomtavruli and numbers
** Add levels of complexity - (1) nusxuri (2) asomtavruli (3) numbers
* How to learn unavailable letters - index more then 100
* Add intermediate exam with random letters learned up to current in the TranslationResult
* Add more sentences to translate
** Add large orthodox texts to translate
* Add persistent (DB) error logging
* Save user progress (DB / Cookie)
* Top menu, resizable
* Introducution text
* Add section with PDFs to download
* Service page to calculate letter for given sentence
* Service page for logs
* Associations with images or mnemonics
* Georgian on http://www.memrise.com/home/
* Tips http://www.fluentin3months.com/phonetic-script-can-be-learned-quickly/

<strong>BUGS:</strong>
* Translation fails when session expires
* Fix redirection links - translation, styling, availability
* Remove unused code
</pre>

<h2>ქართული ანბანი</h2>

<p>
    მოგესალმებით, საჭიროება მოითხოვს ხუცურის შესწავლას, რაშიც დაგეხმარებათ ჩვენი საიტი...
    <br />
    შესწავლა ხდება ინტერაქტიულად, ჩვენ გიწერთ ტექსტს ხუცურად, თქვენ უნდა დაწეროთ თარგმანი...
    <br />
    ვსწავლობთ როგორც დედა ენაში...
    <br />
</p>
<p class="text-center">
    @Html.ActionLink("დავიწყოთ", "LearnLetter", "Home", new { lid = 1 }, new { @class = "btn btn-info btn-lg" })
</p>

<table class="table text-center table-bordered" style="font-size:large">
    <tr>
        <th>სახელი</th>
        <th>მხედრული</th>
        <th>ასომთავრული</th>
        <th>ნუსხური</th>
        <th>რიცხვითი მნიშვნელობა</th>
    </tr>
    @foreach (var item in @Model)
    {
        <tr>
            <td><a href='@Url.Action("LearnLetter", "Home", new { lid = @item.Value.LearnOrder })' data-toggle="tooltip" title = "გავაგრძელოთ აქედან">@item.Value.LetterName</a></td>
            <td>@(String.IsNullOrEmpty(item.Value.ReadAs) ?  item.Value.Mxedruli : $"{item.Value.Mxedruli} ({item.Value.ReadAs})")</td>
            <td>@item.Value.Asomtavruli</td>
            <td>@item.Value.Nuskhuru</td>
            <td>@item.Value.NumberEquivalent</td>
        </tr>
        
    }
</table>