@model LOGA.WebUI.Models.GeorgianLetter

@{
    ViewBag.Title = "სწავლა";
}


<table class="table text-center table-bordered" style="width: 500px">
    <colgroup>
        <col style="width: 25%; background-color: lightgray" />
        <col style="width: 25%" />
        <col style="width: 25%" />
        <col style="width: 25%" />
    </colgroup>

    <tr>
        <td><strong>ასო</strong></td>
        <td>ასომთავრული</td>
        <td>ნუსხური</td>
        <td>რიცხვი</td>
    </tr>
    <tr>
        <td class="h1">@Model.Mxedruli</td>
        <td class="h1">@Model.Asomtavruli</td>
        <td class="h1">@Model.Nuskhuru</td>
        <td class="h1">@Model.NumberEquivalent</td>
    </tr>
</table>

@using (Html.BeginForm("LetterRemembered", "Home", new { id = Model.LearnOrder }))
{
    @Html.Hidden("learnorder", Model.LearnOrder); // @Html.HiddenFor(m => m.LearnOrder);
    <input type="submit" id="remembered" name="remembered" value="დავიმახოვრე" class="btn btn-default" />
}
