@model LOGA.WebUI.Models.Translate

@{
    ViewBag.Title = "შედეგი";
}


<div class="panel panel-default">
    <div class="panel-heading h4">
        შედეგი
    </div>
    <div class="panel-body">
        <h2>ასო @Model.Mxedruli / @Model.Khucuri</h2>

        @if (Model.CorrectCount == 0)
        {
            <b>ცუდია</b>
        }
        else if (Model.IncorrectCount == 0)
        {
            <b>ბრწყინვალეა</b>
        }
        else if (Model.CorrectCount < Model.IncorrectCount)
        {
            <b>არადამაკმაყოფილებელია</b>
        }
        else // CorrectCount >= IncorrectCount
        {
            <b>კარგია</b>
        }

        <h3><span class="label label-success">სწორი თარგმანი<span class="badge">@Model.CorrectCount</span></span></h3>
        <h3><span class="label label-danger">არასწორი თარგმანი<span class="badge">@Model.IncorrectCount</span></span></h3>

    </div>
</div>
<div>
    @{ int letterId = Convert.ToInt32(Request.RequestContext.RouteData.Values["lid"]); }

    @if (Model.CorrectCount != 0)
    {
        @Html.ActionLink("NEXT LETTER", "LearnLetter", "Home", new { lid = letterId + 1 }, new { @class = "btn btn-info btn-lg" })
    }
    @if (Model.IncorrectCount != 0)
    {
        @Html.ActionLink("LEARN AGAIN", "LearnLetter", "Home", new { lid = letterId }, new { @class = "btn btn-info btn-lg" })
    }

    @Html.ActionLink("LIST ALL", "Index", "Home", null, new { @class = "btn btn-info btn-lg" })

</div>