@model LOGA.WebUI.Models.Translate

@{
    ViewBag.Title = "თარგმანის შედეგები";
}

<div class="panel panel-default">
    <div class="panel-heading h4">
        შედეგი
    </div>
    <div class="panel-body">
        <h2>ასო "@Model.Khucuri" ("@Model.Mxedruli") </h2>

        <h3>
            <span class="label label-success"><span class="lead">@Model.CorrectCount</span>  სწორი თარგმანი</span>
            <span class="label label-danger"><span class="lead">@Model.IncorrectCount</span> არასწორი თარგმანი</span>
        </h3>

        <h2>
            @if (Model.CorrectCount == 0)
            {
                <b>ცუდია</b>
                <span class="glyphicon glyphicon-thumbs-down"></span>
            }
            else if (Model.IncorrectCount == 0)
            {
                <b>ბრწყინვალეა</b>
                <span class="glyphicon glyphicon-thumbs-up"></span>
            }
            else if (Model.CorrectCount < Model.IncorrectCount)
            {
                <b>არადამაკმაყოფილებელია</b>
            }
            else // CorrectCount >= IncorrectCount
            {
                <b>კარგია</b>
            }
        </h2>


    </div>
</div>
<div>
    @{
        int letterLId = Convert.ToInt32(Request.RequestContext.RouteData.Values["lid"]);
        int nextLetterLId = LOGA.WebUI.Models.GeorgianABC.GetNextLetterLearnIndex(letterLId);
    }

    @if (Model.IncorrectCount != 0)
    {
        @Html.ActionLink("ვცადოთ ხელახლა", "Letter", "Learn", new { lid = letterLId }, new { @class = "btn btn-primary btn-lg" })
    }

    @if (Model.CorrectCount != 0)
    {
        @Html.ActionLink("შემდეგი ასო", "Letter", "Learn", new { lid = nextLetterLId }, new { @class = "btn btn-info btn-lg" })
    }

    @*
    @Html.ActionLink("ანბანი", "Index", "Learn", null, new { @class = "btn btn-default btn-lg" })
    *@

</div>