@using LOGA.WebUI
@using LOGA.WebUI.Models
@model Dictionary<char, LOGA.WebUI.Models.GeorgianLetter>

@{
    ViewBag.Title = "ქართული ანბანი";

    int progressLId = HttpContextStorage.GetUserLearnProgressLId(Context);
    if (!GeorgianABC.IsValidLearnIndex(progressLId))
    {
        progressLId = 1;
    }
    var progressLetter = GeorgianABC.GetLetterByLearnIndex(progressLId);
    string btnText = progressLId == 1 ? "დავიწყოთ სწავლა" : $"გავარძელოთ სწავლა (ასო \"{progressLetter.Mxedruli}\"-დან)";
}

<div class="page-header">
    <h2>სწავლა <small>ქართული ანბანი</small></h2>
</div>


<div class="panel panel-default" style="padding: 30px;">
    @Html.ActionLink(btnText, "Letter", "Learn", new { lid = progressLId }, new { @class = "btn btn-info btn-lg" })
</div>

<div class="h4">
    <table class="table text-center table-bordered">
        <tr>
            <th>სახელი</th>
            <th>მხედრული</th>
            <th>ასომთავრული</th>
            <th>ნუსხური</th>
            <th>რიცხვითი მნიშვნელობა</th>
        </tr>
        @foreach (var item in @Model)
        {
            var letter = item.Value;
            <tr>
                <td><a href='@Url.Action("Letter", "Learn", new { lid = @letter.LearnOrder })' data-toggle="tooltip" title="გავაგრძელოთ აქედან">@letter.LetterName</a></td>
                <td>@(String.IsNullOrEmpty(letter.ReadAs) ? letter.Mxedruli : $"{letter.Mxedruli} ({letter.ReadAs})")</td>
                <td>
                    @letter.Asomtavruli
                    <img class="imgtext-spaced" src="@Url.Action("GetImg", "Learn", new { text = letter.Asomtavruli, size = 14 })" alt="@letter.Asomtavruli" />
                </td>
                <td>
                    @letter.Nuskhuru
                    <img class="imgtext-spaced" src="@Url.Action("GetImg", "Learn", new { text = letter.Nuskhuru, size = 14 })" alt="@letter.Asomtavruli" />
                </td>
                <td>@letter.NumberEquivalent</td>
            </tr>

        }
    </table>
</div>