@model LOGA.WebUI.Models.GeorgianLetter

@{
    ViewBag.Title = "სწავლა";
    ViewBag.PageHead = ViewBag.Title;
    ViewBag.PageHeadSmall = "დაიმახსოვრეთ ასოს დამწერლობა";

    int nextLetterLId = LOGA.WebUI.Models.GeorgianABC.GetNextLetterLearnIndex(Model.LearnOrder);
    int prevLetterLId = LOGA.WebUI.Models.GeorgianABC.GetNextLetterLearnIndex(Model.LearnOrder, true);
}

<table class="table text-center table-bordered auto-width">
    <colgroup>
        <col style="width: 25%; background-color: lightgray" />
        <col style="width: 25%" />
        <col style="width: 25%" />
        <col style="width: 25%" />
    </colgroup>
    <tr>
        <td><strong>ასო</strong></td>
        <td>ასომთავრული</td>
        <td>ნუსხური</td>
        <td>რიცხვი</td>
    </tr>
    <tr class="h2">
        <td class="geo-font">@(String.IsNullOrEmpty(Model.ReadAs) ? Model.Mkhedruli : $"{Model.Mkhedruli} ({Model.ReadAs})")</td>
        <td>
            <span class="geo-font-bechduri">
                @Model.Asomtavruli
            </span>
            <span class="geo-font">
                (&nbsp;@Model.Asomtavruli&nbsp;)
            </span>
        </td>
        <td>
            <span class="geo-font-bechduri">
                @Model.Nuskhuri
            </span>
            <span class="geo-font">
                (&nbsp;@Model.Nuskhuri&nbsp;)
            </span>
        </td>
        <td>@Model.NumberEquivalent</td>
    </tr>
</table>

@{
    var showTranslate = (Model.Words.Count() > 0);
    var showNext = true;
    var showPrev = (Model.LearnOrder != 1);
}

@if (showTranslate)
{
    <div class="margin-8 btn-min-width">
        @Html.ActionLink("შევამოწმოთ ცოდნა", "Translate", "Learn", new { lid = Model.LearnOrder }, new { @class = "btn btn-primary btn-lg btn-block", id = "default-focus-a" })
    </div>
}
@if (showNext)
{
    <div class="margin-8 btn-min-width">
        @Html.ActionLink("დავიმახსოვრე - შემდეგი ასო", "Letter", "Learn", new { lid = nextLetterLId }, new { @class = "btn btn-info btn-lg btn-block" })
    </div>
}
@if (showPrev)
{
    <div class="margin-8 btn-min-width">
        @Html.ActionLink("წინა ასო", "Letter", "Learn", new { lid = prevLetterLId }, new { @class = "btn btn-default btn-lg btn-block" })
    </div>
}