@using LOGA.WebUI.Models
@model LOGA.WebUI.Models.Translate

@{
    ViewBag.Title = "სწავლა";
    ViewBag.PageHead = ViewBag.Title;
    ViewBag.PageHeadSmall = "შედეგი";

    int letterLId = Convert.ToInt32(Request.RequestContext.RouteData.Values["lid"]);
    int nextLetterLId = GeorgianABC.GetNextLetterLearnIndex(letterLId);
    GeorgianLetter letter = GeorgianABC.GetLetterByLearnIndex(letterLId);
}

<table class="table text-center table-bordered auto-width">
    <colgroup>
        <col style="width: 25%; background-color: lightgray" />
        <col style="width: 25%" />
        <col style="width: 25%" />
        <col style="width: 25%" />
    </colgroup>
    <tr>
        <td><strong>ასო</strong></td>
        <td>ასომთავრული</td>
        <td>ნუსხური</td>
        <td>რიცხვი</td>
    </tr>
    <tr class="h3">
        <td class="geo-font">@(String.IsNullOrEmpty(letter.ReadAs) ? letter.Mkhedruli : $"{letter.Mkhedruli} ({letter.ReadAs})")</td>
        <td>
            <span class="geo-font-bechduri">
                @letter.Asomtavruli
            </span>
            <span class="geo-font">
                (&nbsp;@letter.Asomtavruli&nbsp;)
            </span>
        </td>
        <td>
            <span class="geo-font-bechduri">
                @letter.Nuskhuri
            </span>
            <span class="geo-font">
                (&nbsp;@letter.Nuskhuri&nbsp;)
            </span>
        </td>
        <td>@letter.NumberEquivalent</td>
    </tr>
</table>

<div class="panel panel-default padding-8">

    <h3>
        <span class="label label-success"><span class="lead">@Model.CorrectCount</span> სწორი თარგმანი</span>
        <span class="label label-danger"><span class="lead">@Model.IncorrectCount</span> არასწორი თარგმანი</span>
    </h3>

    <h2>
        @if (Model.CorrectCount == 0)
        {
            <b>ცუდია</b><span class="glyphicon glyphicon-thumbs-down" style="margin-left: 10px;"></span>
        }
        else if (Model.IncorrectCount == 0)
        {
            <b>ბრწყინვალეა</b><span class="glyphicon glyphicon-thumbs-up" style="margin-left: 10px;"></span>
        }
        else if (Model.CorrectCount < Model.IncorrectCount)
        {
            <b>არადამაკმაყოფილებელია</b>
        }
        else // CorrectCount >= IncorrectCount
        {
            <b>კარგია</b>
        }
    </h2>

</div>

@{ 
    var hasIncorrectAnswers = (Model.IncorrectCount != 0);
    var hasCorrectAnswers = (Model.CorrectCount != 0);
}

@if (hasIncorrectAnswers)
{
    @Html.ActionLink("ვცადოთ ხელახლა", "Translate", "Learn", new { lid = letterLId, shuffle = "yes" }, new { @class = "btn btn-primary btn-lg", id = "default-focus-a" })
}

@if (hasCorrectAnswers)
{
    @Html.ActionLink("შემდეგი ასო", "Letter", "Learn", new { lid = nextLetterLId }, new { @class = "btn btn-info btn-lg", id = (!hasIncorrectAnswers ? "default-focus-a" : "" ) })
}

