@model LOGA.WebUI.Models.Translate

<div class="row">
    <div class="col-sm-6 col-sm-push-6">
        <!--ROW 1 COL 2-->
        @if (Model.CorrectCount > 0 || Model.IncorrectCount > 0)
            {
            <h4><span id="spanCorrect" class="label label-success margin-8">@Model.CorrectCount</span> სწორი</h4>
                <h4><span id="spanIncorrect" class="label label-danger margin-8">@Model.IncorrectCount</span> არასწორი</h4>
        }
    </div>
    <div class="col-sm-6 col-sm-pull-6">
        <!--ROW 1 COL 1-->
        <div class="panel panel-default">
            <div class="panel-heading">
                გადათარგმნეთ
            </div>
            <div class="panel-body">
                <div class="h2 no-top-margin text-spaced geo-font-bechduri">@Model.Khucuri</div>
                <div>
                    @Html.TextBox("tbTranslation", null, new { @class = "form-control input-lg", placeholder = "შეიყვანეთ თარგმანი", autofocus = "", autocomplete = "off" })
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("hdnMxedruli", Model.Mxedruli)
<div class="margin-8 btn-min-width">
    <input type="submit" id="btnTranslate" name="btnTranslate" value="შევამოწმოთ" class="btn btn-success btn-lg" disabled="disabled" />
    <!-- <img class="margin-8" src="~/img/ajax-loader.gif" /> TODO -->
</div>

