@using LOGA.WebUI.Models
@using LOGA.WebUI
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ხუცურის სწავლის ადვილი საშუალება">
    <meta name="google" content="notranslate">
    <meta name="robots" content="noarchive">
    <meta name="" content="">
    <title>@ViewBag.Title - ბებო ენა .მე</title> <!-- Ⴁⴄⴁⴍ Ⴄⴌⴀ -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" /> <!-- must appear before any other css-->
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-2.2.2.min.js"></script> <!-- must appear before bootstrap.js -->
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <!-- TODO: Scripts.Render("~/bundles/jquery") -->
</head>
<body>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-78075437-1', 'auto');
        ga('send', 'pageview');
    </script>

    <script>
        $(document).ready(function () {
            $('[data-toggle="tab"]').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            })
        });
    </script>

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    <script>
        $(function () {
            $("#default-focus-a").focus();
        });
    </script>

    <script>
        function onBegin() {
            $('#btnSaveUserSettings').addClass('disabled');
        }

        function onSuccess(data) {
            if (data.HasDisplayName) {
                $('#spanUserAnonymous').addClass('hide');
                $('#spanUserNamed').removeClass('hide');
            }
            else {
                $('#spanUserAnonymous').removeClass('hide');
                $('#spanUserNamed').addClass('hide');
            }
            $('#spanUserDisplayName').text(data.DisplayName);

            $('#modalUserSettings').modal('hide');
            $('#btnSaveUserSettings').removeClass('disabled');
        }
    </script>

    @if (Html.IsDebugMode())
    {
        <p class="bg-warning text-center">
            <br />
            DEBUG MODE @DateTime.Now.ToString()
            <br />
            <br />
        </p>
    }

    @if (Html.IsDebugMode())
    {
        <p>
            <button type="button" data-toggle="modal" data-target="#modalUserSettings" autofocus="">Show settings modal</button>
            <span> | ProgressLId: @HttpContextStorage.GetUserLearnProgressLId(Context)</span>
            <span> | LearnAsomtavruli: @HttpContextStorage.GetUserSettings(Context).LearnAsomtavruli</span>
        </p>
    }

    <div class="panel panel-warning visible-xs margin-8">
        <div class="panel-heading text-center">
            <strong>შენიშვნა</strong>
        </div>
        <div class="panel-body">
            <p>
                ვებ-გვერდი ჯერ არ არის ოპტიმიზირებული მობილური (მცირე ეკრანის მქონე) მოწყობილობებისათვის.
            </p>
            <p>
                თქვენი კომფორტისთვის უმჯობესია იხმაროთ კომპიუტერი ან პლანშეტი.
            </p>
            <p>
                ბოდიშს გიხდით დროებითი უხერხულობისათვის.
            </p>
        </div>
    </div>

    <div id="modalUserSettings" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-large">
        @using (Ajax.BeginForm(new AjaxOptions { Url = "/Home/UpdateSettings", UpdateTargetId = "", OnBegin = "onBegin", OnSuccess = "onSuccess", LoadingElementId = "lblSaveInProgress", LoadingElementDuration = 500 }))
        {
            @Html.Partial("_UserSettingsPartial", HttpContextStorage.GetUserSettings(Context))
        }
    </div>

    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                x        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ⴁⴄⴁⴍ Ⴄⴌⴀ", "Index", "Home", null, new { @class = "navbar-brand geo-font" })
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="@(ViewData["ActiveMenu"].ToString() == "Learn" ? "active" : "")"><a href="@Url.Action("Index", "Learn")">სწავლა</a></li>
                    @*
                        <li class="@(ViewData["ActiveMenu"].ToString() == "_Learn_" ? "active" : "")"><a href="@Url.Action("Index", "Excersices")">სავარჯიშოები</a></li>
                    *@
                    <li class="@(ViewData["ActiveMenu"].ToString() == "Downloads" ? "active" : "")"><a href="@Url.Action("Index", "Downloads")">სასარგებლო მასალა</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" data-toggle="modal" data-target="#modalUserSettings">
                            @{
                                var userDisplayName = HttpContextStorage.GetUserSettings(Context).DisplayName;
                                var userHasDisplayName = !String.IsNullOrWhiteSpace(userDisplayName);
                            }
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="@(userHasDisplayName ? "hide" : "")" id="spanUserAnonymous" data-toggle="tooltip" title="მიუთითეთ სწავლის პარამეტრები">პარამეტრები</span>
                            <span class="@(userHasDisplayName ? "" : "hide")" id="spanUserNamed" data-toggle="tooltip" title="თქვენი სწავლის პარამეტრები">მოგესალმებით, <span id="spanUserDisplayName">@userDisplayName</span>!</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="text-muted">
            <div>
                <div class="row">
                    <div class="col-md-6 text-left">
                        <p>&copy; @DateTime.Now.Year "ბებო ენა" :) - ვისწავლოთ ხუცური</p>
                    </div>
                    <div class="col-md-6">
                        <div class="text-nowrap text-right">
                            <span class="hidden-xs">საკონტაქტო ელ-ფოსტა:&nbsp;</span>
                            <span class="visible-xs-inline">მოგვწერეთ:&nbsp;</span>
                            <a class="text-muted" href="mailto:khubua@gmail.com">khubua@gmail.com</a>
                        </div>
                        <div class="text-nowrap text-right">
                            <span class="hidden-xs">გავაუმჯობესოთ საიტი ერთად:&nbsp;</span>
                            <span class="visible-xs-inline">sources:&nbsp;</span>
                            <a class="text-muted" href="https://github.com/hubua/LOGA" target="_blank">https://github.com/hubua/LOGA</a>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
    </div>

</body>
</html>