@using LOGA.WebUI.HtmlHelpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ხუცურის სწავლის ადვილი საშუალება">
    <meta name="google" content="notranslate">
    <meta name="robots" content="noarchive">
    <meta name="" content="">
    <title>@ViewBag.Title - ბებო ენა .მე</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/jquery-ui-1.12.1.custom/jquery-ui.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/custom-bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>

<body>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-78075437-1', 'auto');
        ga('send', 'pageview');
    </script>



    @if (Html.IsDebugMode())
    {
        <p class="bg-warning text-center">
            DEBUG MODE @DateTime.Now.ToString() <br />
            ProgressLId: @HttpContextStorage.GetUserLearnProgressLId(Context) <br />
            LearnAsomtavruli: @HttpContextStorage.GetUserSettings(Context).LearnAsomtavruli
        </p>
    }


    <div id="modalUserSettings" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-large">
        <form asp-action="UpdateSettings" asp-controller="Home" method="post" data-ajax="true" data-ajax-url="/Home/UpdateSettings" data-ajax-update="" data-ajax-begin="onBegin" data-ajax-success="onSuccess" data-ajax-loading="lblSaveInProgress" data-ajax-loading-duration="500">

            @Html.Partial("_UserSettingsPartial", HttpContextStorage.GetUserSettings(Context))
        </form>
    </div>


    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ⴁⴄⴁⴍ Ⴄⴌⴀ", "Index", "Home", null, new { @class = "navbar-brand geo-font-bechduri" })
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="@(ViewData["ActiveMenu"]?.ToString() == "Learn" ? "active" : "")"><a href="@Url.Action("Index", "Learn")">სწავლა</a></li>
                    <li class="@(ViewData["ActiveMenu"]?.ToString() == "Downloads" ? "active" : "")"><a href="@Url.Action("Index", "Downloads")">სასარგებლო მასალა</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right"> <!-- TODO parameters -->
                    <li>
                        <a href="#" data-toggle="modal" data-target="#modalUserSettings">
                            @{
                                var userDisplayName = HttpContextStorage.GetUserSettings(Context).DisplayName;
                                var userHasDisplayName = !String.IsNullOrWhiteSpace(userDisplayName);
                            }
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="@(userHasDisplayName ? "hide" : "")" id="spanUserAnonymous" data-toggle="tooltip" data-placement="bottom" title="მიუთითეთ სწავლის პარამეტრები">პარამეტრები</span>
                            <span class="@(userHasDisplayName ? "" : "hide")" id="spanUserNamed" data-toggle="tooltip" data-placement="bottom" title="თქვენი სწავლის პარამეტრები">მოგესალმებით, <span id="spanUserDisplayName">@userDisplayName</span>!</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content-container">
        <div class="page-header">
            @{
                string h = Context.Request.IsMobileBrowser() ? "h3" : "h2";
            }
            <@h>@ViewBag.PageHead&nbsp;<small>@ViewBag.PageHeadSmall</small></@h>
        </div>

        @RenderBody()

    </div>

    <div class="container padding-v-spaced">
        <footer class="text-muted">
            <div>
                <div class="row">
                    <div class="col-md-6 text-left">
                        <p>&copy; 2016-@DateTime.Now.Year "ბებო ენა" :) - ვისწავლოთ ხუცური</p>
                    </div>
                    <div class="col-md-6">
                        <div class="text-nowrap text-right">
                            <span class="hidden-xs">საკონტაქტო ელ-ფოსტა:&nbsp;</span>
                            <span class="visible-xs-inline">მოგვწერეთ:&nbsp;</span>
                            <a class="text-muted" href="mailto:khubua@gmail.com">khubua@gmail.com</a>
                        </div>
                        <div class="text-nowrap text-right">
                            <span class="hidden-xs">გავაუმჯობესოთ საიტი ერთად:&nbsp;</span>
                            <span class="visible-xs-inline">sources:&nbsp;</span>
                            <a class="text-muted" href="https://github.com/hubua/LOGA" target="_blank">https://github.com/hubua/LOGA</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
        <script src="~/lib/Microsoft.jQuery.Unobtrusive.Ajax/jquery.unobtrusive-ajax.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development"> <!-- TODO minification -->
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

</body>

</html>
