@using LOGA.WebUI.Models
@using LOGA.WebUI
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - "Ⴁⴄⴁⴍ Ⴄⴌⴀ" ვისწავლოთ ხუცური</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-2.2.2.min.js"></script> <!-- must appear before bootstrap.js -->
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <!-- TODO: Scripts.Render("~/bundles/jquery") -->
</head>
<body>

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    <script>
        $(function () {
            $("#default-focus-a").focus();
        });
    </script>

    <script>
        function onSuccess() {
            $('#modalUserSettings').modal('hide');
        }
    </script>

    @if (Html.IsDebugMode())
    {
        <p class="bg-warning text-center">
            <br />
            DEBUG MODE @DateTime.Now.ToString()
            <br />
            <br />
        </p>
    }

    <button type="button" data-toggle="modal" data-target="#modalUserSettings" autofocus="">modal</button>

    <div id="modalUserSettings" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-large">

        @using (Ajax.BeginForm(new AjaxOptions { Url = "/Home/UpdateSettings", UpdateTargetId = "", OnSuccess = "onSuccess", LoadingElementId = "loading", LoadingElementDuration = 1000 }))
        {

            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dissmiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h3>registracia</h3>
                    </div>
                    <div class="modal-body">
                        @Html.Partial("UserSettingsPartial", HttpContextStorage.GetUserSettings(Context))
                    </div>
                    <div class="modal-footer">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="3" aria-valuemin="1" aria-valuemax="10"></div>

                        </div>
                        <button type="submit" id="id" name="name" value="Save">დავიმახოვროთ</button>
                        <button type="button" data-dissmiss="modal">close</button>
                    </div>
                </div>
            </div>
        }
    </div>

    <div id="id1"></div>
    <div id="loading" class="load" style="display:none">Loading...</div>

    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ⴁⴄⴁⴍ Ⴄⴌⴀ", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="@(ViewData["ActiveMenu"].ToString() == "Learn" ? "active" : "")"><a href="@Url.Action("Index", "Learn")">სწავლა</a></li>
                    <li class="@(ViewData["ActiveMenu"].ToString() == "_Learn_" ? "active" : "")"><a href="@Url.Action("Index", "_Learn_")">ვარჯიში</a></li>
                    <li class="@(ViewData["ActiveMenu"].ToString() == "Downloads" ? "active" : "")"><a href="@Url.Action("Index", "Downloads")">სასარგებლო მასალები</a></li>
                </ul>
                <!--<ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>-->
            </div>
        </div>
    </div>

    @*<img class="img-responsive" src="~/Download/anbani.png" />*@

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year "ბებო ენა" :) - ვისწავლოთ ხუცური</p>
            <p><a href="mailto:khubua@gmail.com">უკუ კავშირი khubua@gmail.com</a></p>
        </footer>
    </div>

</body>
</html>