@model IEnumerable<LOGA.WebUI.Models.GeorgianLetter>

<div class="h4">
    <table class="table text-center table-bordered">
        <tr>
            <th class="text-center" colspan="2">სახელი მხედრული</th>
            <th class="text-center h5">ასომთავრული / ნუსხური</th>
        </tr>
        @foreach (var item in @Model)
        {
            var letter = item;
            <tr>
                <td>
                    <a href='@Url.Action("Letter", "Learn", new { lid = @letter.LearnOrder })' data-toggle="tooltip" data-placement="top" title="გავაგრძელოთ აქედან">@letter.LetterName</a>
                </td>
                <td>
                    @(String.IsNullOrEmpty(letter.ReadAs) ? letter.Mkhedruli : $"{letter.Mkhedruli} ({letter.ReadAs})")
                </td>
                <td>
                    <span class="geo-font-bechduri">
                        @letter.Asomtavruli
                    </span>
                    <span>
                       &nbsp;&nbsp;/&nbsp;&nbsp;
                    </span>
                    <span class="geo-font-bechduri">
                        @letter.Nuskhuri
                    </span>
                </td>
            </tr>
        }
    </table>
</div>

