@model IEnumerable<LOGA.WebUI.Models.GeorgianLetter>

<div class="h4">
    <table class="table text-center table-bordered">
        <tr>
            <th class="text-center">სახელი</th>
            <th class="text-center">მხედრული</th>
            <th class="text-center">ასომთავრული<br><small>ბეჭდური (და&nbsp;ხელნაწერი)</small></th>
            <th class="text-center">ნუსხური<br><small>ბეჭდური (და&nbsp;ხელნაწერი)</small></th>
            <!-- hidden-xs used to hide last cells on narrow non-mobile devices, like tablets -->
            <th class="text-center hidden-xs">რიცხვითი<br>მნიშვნელობა</th>
            <th class="text-center hidden-xs">რიგითი<br>ნომერი</th>
        </tr>
        @foreach (var item in @Model)
        {
            var letter = item;
        <tr>
            <td><a href='@Url.Action("Letter", "Learn", new { lid = @letter.LearnOrder })' data-toggle="tooltip" data-placement="top" title="გავაგრძელოთ აქედან">@letter.LetterName</a></td>
            <td>@(String.IsNullOrEmpty(letter.ReadAs) ? letter.Mkhedruli : $"{letter.Mkhedruli} ({letter.ReadAs})")</td>
            <td>
                @*<span class="geo-m-font">
                @letter.LatinEquivalent
            </span>*@
                <span class="geo-font-bechduri">
                    @letter.Asomtavruli
                </span>
                <span class="geo-font">
                    (&nbsp;@letter.Asomtavruli&nbsp;)
                </span>
            </td>
            <td>
                @*<span class="geo-n-font geo-zoom g-1">
                @letter.LatinEquivalent
            </span>*@
                <span class="geo-font-bechduri">
                    @letter.Nuskhuri
                </span>
                <span class="geo-font">
                    (&nbsp;@letter.Nuskhuri&nbsp;)
                </span>
            </td>
            <td class="hidden-xs">@letter.NumberEquivalent</td>
            <td class="hidden-xs">@letter.Order</td>
        </tr>
        }
    </table>
</div>

