@model LOGAWebApp.Models.GeorgianLetter

@{
    ViewBag.Title = "სწავლა";
    ViewBag.PageHead = ViewBag.Title;
    ViewBag.PageHeadSmall = "დაიმახსოვრეთ ასოს დამწერლობა";

    var totalCount = GeorgianABCService.MODERN_LETTER_COUNT + GeorgianABCService.OLD_LETTER_COUNT;
    var currentCount = (Model.LearnOrder <= GeorgianABCService.MODERN_LETTER_COUNT)
        ? Model.LearnOrder 
        : GeorgianABCService.MODERN_LETTER_COUNT + (GeorgianABCService.OLD_LETTER_COUNT - (GeorgianABCService.LAST_LETTER_LID - Model.LearnOrder));
    var currentPercent = Math.Round((double)currentCount / totalCount * 100, 0);

    int nextLetterLId = GeorgianABCService.GetNextLetterLearnIndex(Model.LearnOrder);
    int prevLetterLId = GeorgianABCService.GetNextLetterLearnIndex(Model.LearnOrder, true);

    // Tablets are NOT included into Mobile Devices
    string viewname = Context.Request.IsMobileBrowser() ? "_LetterToLearnMobilePartial" : "_LetterToLearnPartial";
}

<div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@(currentCount)" aria-valuemin="0" aria-valuemax="@(totalCount)" style="width: @(currentPercent)%">
    </div>
</div>

@await Html.PartialAsync(viewname, Model, new ViewDataDictionary(this.ViewData) { { "size", "h2" } })

@{
    var showTranslate = (Model.Words.Count() > 0);
    var showNext = (Model.LearnOrder != GeorgianABCService.LAST_LETTER_LID);
    var showPrev = (Model.LearnOrder != GeorgianABCService.FIRST_LETTER_LID);
}

@if (showTranslate)
{
    <div class="margin-8 btn-min-width">
        @Html.ActionLink("შევამოწმოთ ცოდნა", "Translate", "Learn", new { lid = Model.LearnOrder }, new { @class = "btn btn-primary btn-lg btn-block", id = "default-focus-a" })
    </div>
}
@if (showNext)
{
    <div class="margin-8 btn-min-width">
        @Html.ActionLink("დავიმახსოვრე - შემდეგი ასო", "Letter", "Learn", new { lid = nextLetterLId }, new { @class = "btn btn-info btn-lg btn-block" })
    </div>
}
@if (showPrev)
{
    <div class="margin-8 btn-min-width">
        @Html.ActionLink("წინა ასო", "Letter", "Learn", new { lid = prevLetterLId }, new { @class = "btn btn-default btn-lg btn-block" })
    </div>
}